# API Configuration
PORT=3000
NODE_ENV=development

# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/shortlink?schema=public"

# Redis Cache Configuration (Upstash or Local)
REDIS_URL="redis://localhost:6379"
REDIS_TOKEN="mock_token"
